#page {
    padding-top: 50px;
}

#footer {
    font-size: 13px;
    color: gray;
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

#content h4 {
    margin-bottom: 15px;
}